[Unit]
Description=Sliver C2 Server
After=network.target tailscaled.service
Wants=tailscaled.service

[Service]
Type=simple
User=root
ExecStartPre=/usr/local/bin/sliver-server unpack --force
ExecStart=/usr/local/bin/sliver-server daemon
Restart=on-failure
RestartSec=10
LimitNOFILE=65535
MemoryMax=512M
MemorySwapMax=1G

[Install]
WantedBy=multi-user.target
